.nowrap {
  white-space: nowrap ;
  font-size: 20px;
  cursor: pointer;
}

.menu{
  text-align: end;
}

#detect{
  color: #BC4749;
}

a { 
  text-decoration: none;
  color: inherit;
}

.heading{
  text-align: center;
  font-size: 500%;
  padding-bottom: 17%;
}

#tittle{
  color: #6A994E;
}

body{
  background-color: #F2E8CF;
}

#subtittle{
  padding-top: 0%;
  font-size: 85%;
}